<div class="container">
	<div class="hero-unit">
		<h1>{{success}}</h1>
		<p>You now have</p>
		<div id="content"></div>
		<ul>
			<li>HTML5 Boilerplate</li>
			<li>jQuery</li>
			<li>Backbone.js</li>
			<li>Marionette.js</li>
			<li>Underscore.js</li>
			<li>Handlebars.js</li>
			<li>RequireJS</li>
			<li>Twitter Bootstrap</li>
			<li>Express</li>
		</ul>
	</div>
</div>